<%- include("../partials/default/nav") %>

<style>
	button a{
		color:white;
	}
	button:hover {
		background-color:black
	}
</style>
<!-- Home -->
<div id="home" class="hero-area">
	<!-- Backgound Image -->
	<div
		class="bg-image bg-parallax overlay"
		style="background-image: url(.././default-asset/img/homeBanner.jpeg)"
	></div>
	<!-- /Backgound Image -->

	<div class="home-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="white-text">Department of Mathematical Sciences</h1>
					<p class="lead white-text">
						Al Qalam University, Department of Mathematical Sciences Lecture
						Reminder System
					</p>
					<button class="main-button icon-button">
						<a href="/#why-us"> Get started </a>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-6">
				<div class="section-header">
					<h2>Lecture Time Reminder System</h2>
					<p class="lead">
						Welcome to AUK's department of mathematical sciences lecture time
						reminder system
					</p>
				</div>

				<!-- feature -->
				<div class="feature">
					<i class="feature-icon far fa-clock"></i>
					<div class="feature-content">
						<h4>Prompt bulk SMS</h4>
						<p>
							Get accurate and actionable lecture time and venue information
							sent straight to you via SMS
						</p>
					</div>
				</div>
				<!-- /feature -->

				<!-- feature -->
				<div class="feature">
					<i class="feature-icon fa fa-book"></i>
					<div class="feature-content">
						<h4>DMS Courses</h4>
						<p>
							A comprehensive list of each level's course list, all in one place
							for your convenience.
						</p>
					</div>
				</div>
				<!-- /feature -->

				<!-- feature -->
				<div class="feature">
					<i class="feature-icon fa fa-comments"></i>
					<div class="feature-content">
						<h4>DMS Community</h4>
						<p>
							stay updated with access to DMS student Community blog, about all
							things departmental
						</p>
					</div>
				</div>
				<!-- /feature -->
			</div>

			<div class="col-md-6">
				<div class="about-img">
					<img src=".././default-asset/img/about.jpeg" alt="" />
				</div>
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
<!-- /About -->

<!-- Courses -->
<div id="courses" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="section-header text-center">
				<h2>Explore AUK DMS Courses</h2>
				<p class="lead">
					See all department of mathematical sciences courses sorted by level
					and semester.
				</p>
			</div>
		</div>
		<!-- /row -->

		<!-- courses -->
		<div id="courses-wrapper" id="courses">
			<!-- row -->
			<div class="row">
				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src=".././default-asset/img/1.jpeg" alt="" />
							<i class="course-link-icon">100L` 1st </i>
						</a>
						<a class="course-title" href="#"
							>B.Sc. Computer Science | Mathematics | Software Engineering</a
						>
						<div class="course-details">
							<span class="course-category">1st year</span>
							<span class="course-price course-free">1st Semester</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src=".././default-asset/img/2.jpeg" alt="" height="175" />
							<i class="course-link-icon">100L 2nd</i>
						</a>
						<a class="course-title" href="#"
							>B.Sc. Computer Science | Mathematics | Software Engineering</a
						>
						<div class="course-details">
							<span class="course-category">1st year</span>
							<span class="course-price course-premium">2nd Semester</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src=".././default-asset/img/3.jpeg" alt="" />
							<i class="course-link-icon">200L 1st</i>
						</a>
						<a class="course-title" href="#"
							>B.Sc. Computer Science | Mathematics | Software Engineering</a
						>
						<div class="course-details">
							<span class="course-category">2nd year</span>
							<span class="course-price course-free">1st Semester</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src=".././default-asset/img/homeBanner.jpeg" alt="" />
							<i class="course-link-icon">200L 2nd</i>
						</a>
						<a class="course-title" href="#"
							>B.Sc. Computer Science | Mathematics | Software Engineering</a
						>
						<div class="course-details">
							<span class="course-category">2nd year</span>
							<span class="course-price course-premium">2nd Semester</span>
						</div>
					</div>
				</div>
				<!-- /single course -->
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src=".././default-asset/img/4.jpeg" alt="" />
							<i class="course-link-icon">300L 1st</i>
						</a>
						<a class="course-title" href="#"
							>B.Sc. Computer Science | Mathematics | Software Engineering</a
						>
						<div class="course-details">
							<span class="course-category">3rd year</span>
							<span class="course-price course-premium">1st Semester</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src=".././default-asset/img/course06.jpg" alt="" />
							<i class="course-link-icon">300L 2nd</i>
						</a>
						<a class="course-title" href="#"
							>B.Sc. Computer Science | Mathematics | Software Engineering</a
						>
						<div class="course-details">
							<span class="course-category">3rd year</span>
							<span class="course-price course-free">2nd Semester</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src=".././default-asset/img/5.jpeg" alt="" />
							<i class="course-link-icon">400L 1st</i>
						</a>
						<a class="course-title" href="#"
							>B.Sc. Computer Science | Mathematics | Software Engineering</a
						>
						<div class="course-details">
							<span class="course-category">4th year</span>
							<span class="course-price course-premium">1st Semester</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src=".././default-asset/img/course08.jpg" alt="" />
							<i class="course-link-icon">400L 2nd</i>
						</a>
						<a class="course-title" href="#"
							>B.Sc. Computer Science | Mathematics | Software Engineering</a
						>
						<div class="course-details">
							<span class="course-category">4th year</span>
							<span class="course-price course-premium">2nd Semester</span>
						</div>
					</div>
				</div>
				<!-- /single course -->
			</div>
			<!-- /row -->
		</div>
		<!-- /courses -->

		<!-- <div class="row">
          <div class="center-btn">
            <a class="main-button icon-button" href="#">More Courses</a>
          </div>
        </div> -->
	</div>
	<!-- container -->
</div>
<!-- /Courses -->
<hr />
<!-- Why us -->
<!-- container -->
<div id="why-us" class="container section" style="margin-top: -6rem">
	<!-- row -->
	<div class="row">
		<div class="section-header text-center">
			<h2>Mission</h2>
			<p class="lead">Get familiarized with our mission statements</p>
		</div>

		<!-- feature -->
		<div class="col-md-4">
			<div class="feature">
				<i class="feature-icon fa fa-clock"></i>
				<div class="feature-content">
					<h4>Prompt Lecture Time Reminder</h4>
					<p>Get accurate and actionable lecture time and venue information</p>
				</div>
			</div>
		</div>
		<!-- /feature -->

		<!-- feature -->
		<div class="col-md-4">
			<div class="feature">
				<i class="feature-icon fa fa-book"></i>
				<div class="feature-content">
					<h4>Comprehensive Course List</h4>
					<p>
						A comprehensive list of each level's course list, all in one place
					</p>
				</div>
			</div>
		</div>
		<!-- /feature -->

		<!-- feature -->
		<div class="col-md-4">
			<div class="feature">
				<i class="feature-icon fa fa-comments"></i>
				<div class="feature-content">
					<h4>Featured Community</h4>
					<p>stay updated with access to DMS student Community blog</p>
				</div>
			</div>
		</div>
		<!-- /feature -->
	</div>
	<!-- /row -->
</div>
<!-- /container -->

<!-- Contact CTA -->
<div id="contact-cta" class="section">
	<!-- Backgound Image -->
	<div
		class="bg-image bg-parallax overlay"
		style="background-image: url(.././default-asset/img/cta2-background.jpg)"
	></div>
	<!-- Backgound Image -->

	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="white-text">Contact Us</h2>
				<p class="lead white-text">
					Find or send us your queries today, get in touch.
				</p>
				<a class="main-button icon-button" href="./contact.html"
					>Contact Us Now</a
				>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /Contact CTA -->

<%- include("../partials/default/footer") %>
